<div class="form-horizontal">
  <div class="form-group row">
  <label class="col-form-label col-sm-2" for="Nom">Nom</label>
  <div class="col-sm-10">
    <input readonly class="form-control" id="Nom" name="Nom" readonly="" type="text" value="<%= model.Nom %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Annee">Année</label>
  <div class="col-sm-2">
    <input readonly class="form-control" id="Annee" name="Annee" readonly="" type="text" value="<%= model.Annee %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2 pt-0" for="Technique">Technique</label>
  <div class="col-sm-3">
    <input readonly class="form-control" id="Technique" name="Technique" readonly="" type="text" value="<%= model.Technique %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2 pt-0" for="Sujet">Sujet</label>
  <div class="col-sm-3">
    <input readonly class="form-control" id="Sujet" name="Sujet" readonly="" type="text" value="<%= model.Sujet %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2 pt-0" for="Support">Support</label>
  <div class="col-sm-3">
    <input readonly class="form-control" id="Support" name="Support" readonly="" type="text" value="<%= model.Support %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2 pt-0" for="Cadre">Cadre</label>
  <div class="col-sm-3">
    <input readonly class="form-control" id="Cadre" name="Cadre" readonly="" type="text" value="<%= model.Cadre %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2 pt-0" for="Stockage">Stockage</label>
  <div class="col-sm-3">
    <input readonly class="form-control" id="Stockage" name="Stockage" readonly="" type="text" value="<%= model.Stockage %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2 pt-0" for="Taille">Taille (Gd x Pt)</label>
  <div class="col-sm-3">
    <input readonly class="form-control" est de 20."  est requis." id="Taille" name="Taille" readonly="" type="text" value="<%= model.Taille %>" />
  </div>
  <div class="control-label col-sm-7"><%- model.Prix %></div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Poids">Poids (en kg)</label>
  <div class="col-sm-2">
    <input readonly class="form-control" id="Poids" name="Poids" readonly="" type="text" value="<%= model.Poids %>" />
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Commentaires">Commentaires</label>
  <div class="col-sm-10">
      <textarea readonly class="form-control" cols="20" id="Commentaires" name="Commentaires" readonly="" rows="2"><%= model.Commentaires %>
</textarea>
  </div>
</div>
