<%- include("../_header.ejs") -%>

<% model.Titre = "Modifier un tableau" %>

<h2><%= model.Titre %></h2>

<%_ if (model.errors) { _%>
  <div class="alert alert-danger" role="alert">
    <ul>
      <%_ for (const error of model.errors) { _%>
      <li><%= error.msg %></li>
      <%_ } _%>
    </ul>
  </div>
<%_ } _%>

<form action="/tableaux/edit/<%= model.Tableau_ID %>" method="post">
  <div class="form-horizontal">

    <%- include("_editor.ejs", {model: model}) -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
      <div class="col-sm-10">
        <input type="submit" value="Modifier" class="btn btn-default btn-warning" />
        <a href="/" class="btn btn-outline-dark">Annuler</a>
      </div>
    </div>

  </div>
</form>

<%- include("../_footer.ejs") -%>

<%- include("../_form-scripts.ejs") -%>
